
$color-foreground: rgba(255, 255, 255, 1);
$color-ground: rgba(239, 242, 245, 1);
$color-background: rgba(223, 227, 232, 1);
$color-tab-container: rgba(223, 227, 232, 1);
$color-tab-active: rgba(239, 242, 245, 1);
$color-tab-inactive-hover: rgba(247, 249, 250, 0.5);
$color-border-extra-light: 1px solid rgba(206, 210, 214, 1);
$border-blue-focus: 1px solid rgba(0, 149, 255, 1);
$border-radius-default: 3px;
$border-gray-100: 1px solid rgba(239, 242, 245, 1);
$border-gray-200: 1px solid rgba(223, 227, 232, 1);
$border-gray-300: 1px solid rgba(206, 210, 214, 1);
$border-gray-400: 1px solid rgba(181, 185, 189, 1);
$border-radius-small: 1px;
$border-gray-700: 1px solid rgba(97, 99, 101, 1);
$border-radius-curve: 10em 5em;
$border-red-600: 1px solid rgba(209,83, 54, 1);
$border-red-800: 1px solid rgba(148, 42, 18, 1);
$color-border-transparent: 1px solid transparent;
$border-red-900: 1px solid rgba(107, 28, 11, 1);
$border-blue-resting: 1px solid rgba(7, 48, 92, 1);
$color-border-light: 1px solid rgba(181, 185, 189, 1);
$color-success-400: rgba(86, 186, 154, 1);
$color-button-destructive-hover: rgba(209,83, 54, 1);
$color-success-500: rgba(47, 168, 130, 1);
$color-viz-1: rgba(71, 129, 191, 1);
$color-button-neutral-focus: linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(239, 242, 245, 1) 100%);
$color-success-600: rgba(30, 143, 107, 1);
$color-viz-2: rgba(161, 187, 229, 1);
$color-button-destructive-active: rgba(209,83, 54, 1);
$color-viz-3: rgba(229, 149, 57, 1);
$color-blue-selection-70: rgba(31, 118, 216, 0.7);
$color-blue-selection: rgba(31, 118, 216, 1);
$color-viz-4: rgba(232, 206, 139, 1);
$color-blue-selection-50: rgba(31, 118, 216, 0.5);
$color-viz-5: rgba(111, 93, 168, 1);
$color-button-neutral-hover: linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(239, 242, 245, 1) 100%);
$color-neutral-600: rgba(71, 129, 191, 1);
$color-viz-6: rgba(205, 171, 219, 1);
$color-neutral-700: rgba(46, 98, 153, 1);
$color-viz-7: rgba(61, 153, 144, 1);
$color-error-600: rgba(209,83, 54, 1);
$color-button-blue-active: rgba(4, 65, 135, 1);
$color-viz-8: rgba(124, 207, 180, 1);
$color-error-700: rgba(178, 62, 36, 1);
$color-viz-9: rgba(76, 95, 181, 1);
$color-error-50: rgba(255,236, 232, 1);
$color-button-blue-resting: linear-gradient(-180deg, rgba(31,118,216,0.70) 0%, rgba(4, 65, 135, 1) 100%);
$color-button-disabled: rgba(154, 157, 161, 1);
$color-viz-20: rgba(207, 124, 146, 1);
$color-blue-dark-brand-50: rgba(7, 48, 92, 0.5);
$color-blue-focus: rgba(0, 149, 255, 1);
$color-viz-10: rgba(151, 154, 204, 1);
$color-viz-11: rgba(204, 94, 105, 1);
$color-gray-100: rgba(239, 242, 245, 1);
$color-viz-12: rgba(237, 161, 159, 1);
$color-gray-200: rgba(223, 227, 232, 1);
$color-viz-13: rgba(70, 146, 176, 1);
$color-button-destructive-resting: rgba(178, 62, 36, 1);
$color-gray-300: rgba(206, 210, 214, 1);
$color-blue-hover: rgba(194, 229, 255, 1);
$color-viz-14: rgba(139, 212, 214, 1);
$color-gray-400: rgba(181, 185, 189, 1);
$color-in-progress-600: rgba(136, 95, 153, 1);
$color-viz-15: rgba(224, 105, 79, 1);
$color-black: rgba(0, 0, 0, 1);
$color-gray-500: rgba(154, 157, 161, 1);
$color-in-progress-700: rgba(107, 71, 122, 1);
$color-viz-16: rgba(245, 164, 130, 1);
$color-blue-hover-50: rgba(194, 229, 255, 0.5);
$color-button-blue-focus: linear-gradient(-180deg, rgba(0, 149, 255, 1) 0%, rgba(4, 65, 135, 1) 100%);
$color-viz-17: rgba(84, 153, 112, 1);
$color-gray-700: rgba(97, 99, 101, 1);
$color-button-neutral-resting: linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(239, 242, 245, 1) 100%);
$color-viz-18: rgba(154, 217, 164, 1);
$color-gray-800: rgba(77, 79, 81, 1);
$color-viz-19: rgba(156, 65, 116, 1);
$color-blue-dark-brand: rgba(7, 48, 92, 1);
$color-button-blue-hover: linear-gradient(-180deg, rgba(31,118,216,0.40) 0%, rgba(4, 65, 135, 1) 100%);
$color-warning-500: rgba(229, 149, 57, 1);
$color-button-neutral-hover-offset: linear-gradient(-180deg, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 57%, rgba(239, 242, 245, 1) 100%);
$color-gray-50: rgba(247, 249, 250, 1);
$color-blue-hover-light: rgba(224, 242, 255, 1);
$color-button-destructive-focus: linear-gradient(-180deg, rgba(209,83, 54, 1) 0%, rgba(178, 62, 36, 1) 100%);
$color-button-neutral-active: rgba(223, 227, 232, 1);
$color-warning-800: rgba(176, 98, 9, 1);
$color-blue-medium: rgba(4, 65, 135, 1);
$color-blue-brand: rgba(22, 92, 171, 1);
$color-white: rgba(255, 255, 255, 1);
$color-blue-dark: rgba(7, 48, 92, 0.5);
$color-gray-1000: rgba(19, 21, 23, 1);
$transition-natural: all 300ms ease;
$transition-entrance: all 300ms ease-out;
$transition-exit: all 300ms ease-in;
$font-size-header-2: 2.5rem;
$font-weight-book: 400;
$line-height: 1.50;
$letter-spacing-cap: 0.05em;
$font-size-header-3: 1.75rem;
$font-size-header-4: 1.25rem;
$benton-condensed: Benton Sans Condensed, Proxima Nova, Helvetica, Arial, sans-serif;
$font-weight-extra-light: 200;
$font-size-header-5: 1rem;
$line-height-tight-body-2: 1.125rem;
$font-size-header-6: 0.875rem;
$font-weight-regular: 500;
$small-caps: "smcp";
$color-text-button: rgba(19, 21, 23, 1);
$font-weight-black: 800;
$font-size-label-1: 0.875rem;
$color-text-medium: rgba(97, 99, 101, 1);
$color-text-dark: rgba(19, 21, 23, 1);
$font-weight-medium: 600;
$all-caps: uppercase;
$text-align-left: left;
$font-weight-thin: 100;
$line-height-tight: 1.25;
$font-size-body-1: 1rem;
$font-size-body-2: 0.875rem;
$font-size-body-3: 0.75rem;
$font-smoothing: antialiased;
$benton-sans: Benton Sans, Proxima Nova, Helvetica, Arial, sans-serif;
$font-weight-bold: 700;
$letter-spacing: 0.0125em;
$text-align-center: center;
$font-size-header-1: 3rem;
$font-weight-light: 300;
$base-inset: 8px 8px 8px 8px;
$spacing-quarter: 2px;
$unit-50: 400px;
$spacing-1: 8px;
$unit-20: 160px;
$unit-75: 600px;
$spacing-2: 16px;
$unit-1: 8px;
$unit-10: 80px;
$spacing-3: 24px;
$unit-2: 16px;
$spacing-10: 80px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;
$spacing-7: 56px;
$spacing-8: 64px;
$spacing-9: 72px;
$spacing-half: 4px;
$box-shadow-tab-before: 0 -3px 8px rgba(19, 21, 23, 0.10);
$box-shadow-modal: 0 4px 8px 0 rgba(19, 21, 23, 0.60);
$box-shadow-element-active: 0 -1px 1px 0 rgba(0, 0, 0, 0.15);
$soft-shadow-selected: 0,1px,3px,0 rgba(7, 48, 92, 0.5);
$box-shadow-gutter: inset 0px -11px 8px -10px rgba(19, 21, 23, 0.20);
$box-shadow-below: 0 3px 8px rgba(19, 21, 23, 0.10);
$box-shadow-primary-hover: inset 0 2px 3px 2px rgba(31, 118, 216, 0);
$hard-shadow-selected: 0,1,0,0 rgba(7, 48, 92, 0.5);
$box-shadow-element-inactive: 0 0 18px rgba(19, 21, 23, 0.20);
$hard-shadow-400: 0,1,0,0 rgba(181, 185, 189, 1);
$box-shadow-tab-active: 0 -2px 2px 0 rgba(19, 21, 23, 0.15);
$box-shadow-menu: 0 2px 4px 0 rgba(19, 21, 23, 0.30);
$box-shadow-neutral-hover: inset 0 -1.5em 1.8em -1em rgba(239, 242, 245, 1);
$box-shadow-inset-medium: inset 0 2px 3px 1px rgba(19, 21, 23, 0.50);
$box-shadow-inset-dark: inset 0 2px 3px 1px rgba(19, 21, 23, 0.60);
$box-shadow-table-left: 2px 0 4px 0 rgba(206, 210, 214, 0.5);
$box-shadow-above: 0 -3px 8px rgba(19, 21, 23, 0.10);
$box-shadow-table-right: -2px 0 4px 0 rgba(206, 210, 214, 0.5);
$box-shadow-table-bottom: 0 2px 4px 0 rgba(206, 210, 214, 0.5);
$box-shadow-primary-resting: inset 0 2em 1.8em -1em rgba(31, 118, 216, 0.7);
$box-shadow-destructive-resting: inset 0 2em 1.8em -1em rgba(209,83, 54, 1);
$box-shadow-inset-light: inset 0 2px 3px 1px rgba(19, 21, 23, 0.30);
$box-shadow-neutral-resting: inset 0 -2em 1.8em -1em rgba(239, 242, 245, 1);
// Above everything
$z-index-overlay: 1000;
// Flash Message
$z-index-flash: 700;
// Panels
$z-index-sub-panel: 400;
// Baseline Content
$z-index-content: 100;
// Alert Message
$z-index-alert: 800;
// Dropdowns and Forms
$z-index-form: 500;
// Editable Overlay
$z-index-editable: 200;
// Base Z-Index
$z-index-ground: 1;
// Panels
$z-index-panel: 400;
// Modal and Dialogs
$z-index-dialog: 900;
// Header
$z-index-header: 300;
// Top level navigation
$z-index-main-nav: 600;
// Panels
$z-index-main-panel: 400;
