.title {
    font-size: 64px;
    color: #000000;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    text-align: center;
}

.body {
    font-size: 24px;
    color: #666666;
    font-weight: thin;
    padding-bottom: 60px;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    text-align: center;
}
