.title {
    font-size: 64px;
    color: #000000;
    font-weight: normal;
}

.subtitle {
    font-size: 24px;
    color: #666666;
    font-weight: lighter;
    padding-bottom: 60px;
}

.pageStyle {
    margin: 80px;
    align-items: center;
    text-align: center;
}

.customLook{
    font-size: 16px;
    width: 50%;
    margin: auto;
}

section {
/*margin-top: 50px;*/
}

/*img {
    padding-top: 20px;
}*/

.paddingPictures {
    padding-bottom: 20px;
    padding-right: 20px;
}

.div-fix {

}
