.container{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#ONE{
    background-color: blue;
    grid-column: 1;
    grid-row: 1/4;
}

#TWO{
    background-color: green;
}

#THREE{
    background-color: red;
}
