.container{
    display: grid;
    grid-template-rows: repeat(10, 200px);
}

.absolute-center {
  margin: auto;
  left: 0; right: 0;
}

/*AREA 1-------------------------*/
#area_1{
    grid-column: 1;
    grid-row: 1;
    transition: background-color 8s ease;
    background-color: white;
}

#area_1:hover{
    background-color: #1A3C86;
}


#animation_1{
    margin-right: 45%;
    width: 200px;
    height: 200px;
    background: white;
    border: 1px hidden;
    border-radius: 100px;
    animation: 0;
    animation-fill-mode: both;
    visibility:hidden;
    display: inline-block;
    position: absolute;
    animation: 0;
}

#animation_1-1{
    margin-left: 45%;
    width: 200px;
    height: 200px;
    background: white;
    border: 1px hidden;
    border-radius: 100px;
    animation: 0;
    animation-fill-mode: both;
    display: inline-block;
    visibility:hidden;
    position: absolute;
}

#area_1:hover > #animation_1{
    visibility:visible;
    animation: circleScaleRight 4.8s infinite ease-in-out;
}
#area_1:hover > #animation_1-1{
    visibility:visible;
    animation: circleScaleLeft 4.8s infinite ease-in-out;
}

/*AREA 2-------------------------*/
#area_2{
    grid-column: 1;
    grid-row: 2;
    transition: background-color 5s ease;
    background-color: white;
}

#area_2:hover{
    background-color: #E64218;
}

#animation_2{
    width: 120px;
    height: 120px;
    border: 1px hidden;
    border-radius: 100px;
    background-color: rgba(65,117,5,.6);
    margin-top: 20px;
    animation: 0;
    animation-fill-mode: both;
    display: inline-block;
    visibility:hidden;
    position: absolute;
}

#animation_2-1{
    width: 120px;
    height: 120px;
    border: 1px hidden;
    border-radius: 100px;
    background-color: rgba(65,117,5,.6);
    margin-top: 20px;
    animation: aimlessMove_2 12s infinite ease-in-out, chillScale 3s infinite ease-in-out;
    animation-fill-mode: both;
    display: inline-block;
    visibility:hidden;
    position: absolute;
}

#area_2:hover > #animation_2{
    visibility:visible;
    animation: aimlessMove_1 20s infinite ease-in-out, chillScale 3s infinite ease-in-out, ray_anim 12s linear infinite;
}
#area_2:hover > #animation_2-1{
    visibility:visible;
    animation: aimlessMove_2 18s infinite ease-in-out, chillScale 3s infinite ease-in-out,;
}


.sun {
  position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    width:70px;
    height:70px;
    border-radius:50%;
    background:white;
    opacity:0.9;
    box-shadow: 0px 0px 40px 15px white;
    margin-top: 250px;
}

    .ray_box {
    /*  position: absolute;*/
      margin: auto;
    /*    top:0px;
        left:0;
        right:0;
        bottom:0;*/
        width:40px;
    /*    animation: 0;*/
        animation: ray_anim 12s linear infinite;
        visibility: hidden;
    }
    .ray {
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
        background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
        margin-left:10px;
        border-radius:80% 80% 0 0;
        position:absolute;
        opacity:0.1;
        visibility: hidden;

    }

    .ray1 {
        height:170px;
        width:30px;
       -webkit-transform: rotate(180deg);
        top:-175px;
        left: 15px;
    }
    .ray2 {
        height:100px;
        width:8px;
       -webkit-transform: rotate(220deg);
        top:-90px;
        left: 75px;
    }
    .ray3 {
        height:170px;
        width:50px;
       -webkit-transform: rotate(250deg);
        top:-80px;
        left: 100px;
    }
    .ray4 {
        height:120px;
        width:14px;
       -webkit-transform: rotate(305deg);
        top:30px;
        left: 100px;
    }
    .ray5 {
        height:140px;
        width:30px;
       -webkit-transform: rotate(-15deg);
        top:60px;
        left: 40px;
    }
    .ray6 {
        height:90px;
        width:50px;
       -webkit-transform: rotate(30deg);
        top:60px;
        left: -40px;
    }
    .ray7 {
        height:180px;
        width:10px;
       -webkit-transform: rotate(70deg);
        top:-35px;
        left: -40px;
    }
    .ray8 {
        height:120px;
        width:30px;
       -webkit-transform: rotate(100deg);
        top:-45px;
        left:-90px;
    }
    .ray9 {
        height:80px;
        width:10px;
       -webkit-transform: rotate(120deg);
        top:-65px;
        left:-60px;
    }
    .ray10 {
        height:190px;
        width:23px;
       -webkit-transform: rotate(150deg);
        top:-185px;
        left: -60px;
    }


#area_2:hover > .ray{
    visibility:visible;
/*    animation: ray_anim 12s linear infinite;
*/}

/*AREA 3-------------------------*/
#area_3{
    grid-column: 1;
    grid-row: 3;
    transition: opacity 3s ease;
    background: white;
    opacity: 0;
    padding-top: 20px;
}

#area_3:hover{
    background: linear-gradient(to bottom right, #173C5D, #004A36, #00B068);
    opacity: 1;
}

#animation_3{
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid rgba(255,255,255,.4);
    animation-fill-mode: both;
    animation: 0;
    visibility:hidden;
    position: absolute;
    margin-left: 40%;
}

#animation_3-1{
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid rgba(35,35,35,.4);
    animation: 0;
    display: inline-block;
    visibility:hidden;
    position: absolute;
    margin-right: 40%;
}

#area_3:hover > #animation_3{
    visibility:visible;
    animation: rotateTriangle_1 1.5s infinite linear;
}

#area_3:hover > #animation_3-1{
    visibility:visible;
    animation: rotateTriangle_2 1.5s infinite linear;
}

/*AREA 4-------------------------*/
#area_4{
    grid-column: 1;
    grid-row: 4;
    transition: background-color 3s ease;
    background-color: white;
}

#area_4:hover{
    background-color: #FFDB2A;
}

#animation_4{
    width: 120px;
    height: 120px;
    border: 1px hidden;
    border-radius: 100px;
    background-color: rgba(255,255,255,.8);
    margin-top: 20px;
    animation: 0;
    animation-fill-mode: both;
    display: inline-block;
    visibility:hidden;
    position: absolute;
}

#animation_4-1{
    width: 120px;
    height: 120px;
    border: 1px hidden;
    border-radius: 100px;
    background-color: rgba(255,255,255,.8);
    margin-top: 20px;
    animation: 0;
    animation-fill-mode: both;
    display: inline-block;
    visibility:hidden;
    position: absolute;
}

#area_4:hover > #animation_4{
    visibility:visible;
    animation: aimlessMove_2 5s infinite ease-in-out, circlePop .6s infinite ease-in-out;
}

#area_4:hover > #animation_4-1{
    visibility:visible;
    animation: aimlessMove_1 5s infinite ease-in-out, circlePop .6s infinite ease-in-out;
}

/*#area_4:hover > #animation_4-1{
    visibility:visible;
    animation: rotateTriangle_2 1.5s infinite linear;
}*/
/*AREA 5-------------------------*/
#area_5{
    grid-column: 1;
    grid-row: 5;
    transition: background-color 3s ease;
    background-color: white;
}

#area_5:hover{
    background-color: #7EE36F;
}

#animation_5{
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,.7);
    animation: 0;
    animation-fill-mode: both;
    display: inline-block;
    visibility:hidden;
    position: absolute;
    margin-right: 40%;
}

#animation_5-1{
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,.7);
    animation: 0;
    animation-fill-mode: both;
    display: inline-block;
    visibility:hidden;
    position: absolute;
    margin-left: 40%;
}

#area_5:hover > #animation_5{
    visibility:visible;
    animation: upDown_1 .9s infinite ease-in;
}

#area_5:hover > #animation_5-1{
    visibility:visible;
    animation: upDown_2 .9s infinite ease-in;
}

/*AREA 6-------------------------*/
#area_6{
    grid-column: 1;
    grid-row: 6;
    transition: background-color 2s ease;
    background-color: white;
}

#area_6:hover{
    background-color: #21378C;
}

#animation_6{
    width: 120px;
    height: 120px;
    border: 1px hidden;
    border-radius: 100px;
    background-color: rgba(255,255,255,.8);
    margin-top: 20px;
    animation: 0;
    animation-fill-mode: both;
    display: inline-block;
    visibility:hidden;
    position: absolute;
    filter:blur(40px);
}

#animation_6-1{
    width: 120px;
    height: 120px;
    border: 1px hidden;
    border-radius: 100px;
    background-color: rgba(255,255,255,.8);
    margin-top: 20px;
    animation: 0;
    animation-fill-mode: both;
    display: inline-block;
    visibility:hidden;
    position: absolute;
    filter:blur(40px);
}

#animation_6-2{
    width: 120px;
    height: 120px;
    border: 1px hidden;
    border-radius: 100px;
    background-color: rgba(255,255,255,.8);
    margin-top: 20px;
    animation: 0;
    animation-fill-mode: both;
    display: inline-block;
    visibility:hidden;
    position: absolute;
    filter:blur(40px);
}

#animation_6-3{
    width: 120px;
    height: 120px;
    border: 1px hidden;
    border-radius: 100px;
    background-color: rgba(255,255,255,.8);
    margin-top: 20px;
    animation: 0;
    animation-fill-mode: both;
    display: inline-block;
    visibility:hidden;
    position: absolute;
    filter:blur(40px);
}


#area_6:hover > #animation_6{
    visibility:visible;
    animation: aimlessMove_2 5s infinite ease-in-out, circlePop .6s infinite ease-in-out;
}

#area_6:hover > #animation_6-1{
    visibility:visible;
    animation: aimlessMove_2 2s infinite ease-in-out, circlePop .6s infinite ease-in-out;
}

#area_6:hover > #animation_6-2{
    visibility:visible;
    animation: aimlessMove_3 4s infinite ease-in-out, circlePop .6s infinite ease-in-out;
}

#area_6:hover > #animation_6-3{
    visibility:visible;
    animation: aimlessMove_1 6s infinite ease-in-out, circlePop .6s infinite ease-in-out;
}
/*AREA 7-------------------------*/
#area_7{
    grid-column: 1;
    grid-row: 7;
    transition: background-color 3s ease;
    background-color: white;
}

#area_7:hover{
    background-color: #A60303;
}

/*AREA 8-------------------------*/
#area_8{
    grid-column: 1;
    grid-row: 8;
    transition: background-color 3s ease;
    background-color: white;
}

#area_8:hover{
    background-color: #FF9F00;
}

#animation_8{
    width: 200px;
    height: 200px;
    border: 1px hidden;
    border-radius: 100px;
    background-color: rgba(255,255,255,1);
    animation: 0;
    animation-fill-mode: both;
    display: inline-block;
    position: absolute;
    filter:blur(40px);
    visibility: hidden;
}

#area_8:hover > #animation_8{
    visibility:visible;
    animation: growCircle 8s infinite ease-in-out;
    animation-direction: alternate;

}
/*AREA 9------------------------- */
#area_9{
    grid-column: 1;
    grid-row: 9;
    transition: background-color 3s ease;
    background-color: white;
}

#area_9:hover{
    animation: colorchange .5s infinite ease-in-out;
    filter: blur(20px);
}

#animation_9{
    animation: 0;
    visibility: hidden;
}

#area_9:hover > #animation_9{
    visibility:visible;
}
/*AREA 10*/
#area_10{
    grid-column: 1;
    grid-row: 10;
    transition: background-color 3s ease;
    background-color: white;
}

#area_10:hover{
    background-color: black;
}

#animation_10{
    background-color: red;
    width: 70%;
    height: 200px;
    margin: auto;
    visibility: hidden;
    filter: blur(90px);
}

#area_10:hover > #animation_10{
    visibility:visible;
}

/*Animations-------------------------*/

@keyframes circleScaleRight {
  0% {
    transform: scale(0);
    border-radius:80px;
    background-color: rgba(255, 255, 255, .2);
    margin-right: 45%;
  }
  50%{
    background-color: rgba(255, 255, 255, .7);
  }
  100% {
    transform: scale(1);
    border-radius: 120px;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 38%;
  }
}

@keyframes circleScaleLeft {
  0% {
    transform: scale(0);
    border-radius:80px;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 45%;
  }
  100% {
    transform: scale(1);
    border-radius: 120px;
    background-color: rgba(255, 255, 255, .8);
    margin-left: 38%;
  }
}

@keyframes chillScale{
    0%{transform:scale(.9); opacity:.6;}
    50%{transform:scale(1.2); opacity:0.8;}
    100%{transform:scale(.9); opacity:.6;}
}

@keyframes aimlessMove_1{
    0%{margin-left: 45%; margin-top: 5%;}
    25%{margin-left: 33%; margin-top: 9%;}
    50%{margin-left: 38%;margin-top: 2%;}
    75%{margin-left: 71%;margin-top: 15%;}
    100%{margin-left: 45%;margin-top: 5%;}
}

@keyframes aimlessMove_2{
    0%{margin-left: 45%; margin-top: 5%;}
    25%{margin-left: 31%; margin-top: 7%;}
    50%{margin-left: 35%;margin-top: 4%;}
    75%{margin-left: 68%;margin-top: 12%;}
    100%{margin-left: 45%;margin-top: 5%;}
}

@keyframes aimlessMove_2{
    0%{margin-left: 75%; margin-top: 2%;}
    25%{margin-left: 34%; margin-top: 5%;}
    50%{margin-left: 12%;margin-top: 9%;}
    75%{margin-left: 67%;margin-top: 10%;}
    100%{margin-left: 45%;margin-top: 5%;}
}

@keyframes aimlessMove_3{
    0%{margin-left: 34%; margin-top: 8%;}
    25%{margin-left: 87%; margin-top: 2%;}
    50%{margin-left: 32%;margin-top: 9%;}
    75%{margin-left: 67%;margin-top: 5%;}
    100%{margin-left: 8%;margin-top: 15%;}
}

@keyframes rotateTriangle_1{
    0%{transform: rotate(0deg);}
    50%{transform:rotate(275deg);}
    100%{transform:rotate(360deg);}
}

@keyframes rotateTriangle_2{
    0%{transform: rotate(0deg);}
    50%{transform:rotate(-275deg);}
    100%{transform:rotate(-360deg);}
}

@keyframes circlePop{
    0%{transform: scale(.7); opacity: 0;}
    50%{transform: scale(1.2); opacity: 1;}
    51%{transform: scale(1.2); opacity: 0}
    100%{transform: scale(1.2); opacity: 0}
}

@keyframes ray_anim {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

@keyframes upDown_1 {
    0%{margin-top: 100px;}
    50%{margin-top: 50px;}
    100%{margin-top: 100px;}
}

@keyframes upDown_2 {
    0%{margin-top: 50px;}
    50%{margin-top: 100px;}
    100%{margin-top: 50px;}
}

 @keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

@keyframes growCircle{
    0%{transform: scale(0); opacity: 0;}
    100%{transform: scale(4); opacity: 1}
}
